.arrow{
    display: flex;
    align-items: top;
    margin-top: 20px;
    margin-left: 20px;
    
}
.arrow > .MuiSvgIcon-root:hover {
    cursor: pointer;
}

.audits{
    display: flex;
    flex-direction: column;
}

.topTransaction{
    display: flex;
}

.amount{
    margin-left: 10px;
}