.title2{
    margin-left: 20px;
}

.accountsHome{
    display: flex;
    justify-content: center;
}

.newaccount{
    display: flex;
    flex-direction: column;
	align-items: center;
	font-size: 12px;
	padding: 7px 10px;
    border: 1px solid black;
    border-radius: 10px;
}

.accountCreate{
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    padding: 5px;
}

.newAccountButton {
    margin-top: 5px;
    border-radius: 30px;
    border-style: none;
    cursor: pointer;
    outline: none;
    padding: 4px 20px;
}

.Logoutbutton{
    display: flex;
    justify-content: flex-end;
}

.logout{
    margin-top: 10px;
    margin-right: 20px;
    color: #000;
}


.modal {
	width: 400px;
    font-size: 12px;
    border: 1px solid black;
    background-color: white;
}

    .modal > .popupheader {
        width: 100%;
        border-bottom: 1px solid black;
        font-size: 18px;
        text-align: center;
        background-color: black;
        color: white;
    }

    .modal > .content {
        width: 100%;
        padding: 10px 5px;
    }
	.modal > .close {
		cursor: pointer;
		position: absolute;
		display: block;
		padding: 2px 5px;
		line-height: 20px;
		right: -10px;
		top: -10px;
		font-size: 24px;
		background: #ffffff;
		border-radius: 18px;
		border: 1px solid #cfcece;
	}
	.modal > .textFieldArea {
        width: 100%;
        padding: 0px 30px;
        margin: auto;
        text-align: center;
    }

	.textFieldArea .textFields {
		margin: 20px;
		right: 30px;
	}

	.error-user{
		visibility: hidden;
		color: red;
		font-size: small;
		margin-right: 40px;
	}


    .popupButtonArea {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 60px;
        padding-bottom: 20px;
    }
    
    .popupButton {
        background-color: black;
        border: none;
        color: white;
        padding: 15px;
        text-align: center;
        width: 100%;
        cursor: pointer;
    }
	.popupButton:hover {
		cursor: pointer;
		background-color: rgb(175, 175, 175);
	}