.login-main{
    display: flex;
    flex-direction: column;
}

.login-top {
    display: flex;
    flex: 0.3;
    justify-content: center;
    width: 100%;
    background-color: black;
}
.title{
    display: flex;
    margin-top: 75px;
    font-size: 55px;
    font-weight: 10;
    color: white;
}

.login-middle {
    display: flex;
    flex: 0.7;
    background-color: grey;
    height: 100%;
    width:100%;
    z-index: -100;
    position:fixed;
}

.login-form{
    display: flex;
    justify-content: center;
    align-self: center;
    width: 30%;
    height: auto;
    margin-left: auto;
    margin-right: 30px;
}

.error-user{
    visibility: hidden;
    color: red;
    font-size: small;
}
