.login-main{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.login-top {
    display: flex;
    flex: 0.3;
    justify-content: center;
    width: 100%;
    background-color: black;
}
.title{
    display: flex;
    margin-top: 75px;
    font-size: 55px;
    font-weight: 10;
    color: white;
}

.login-middle {
    display: flex;
    flex-direction: column;
    flex: 0.7;
    background-color: grey;
    height: 100%;
    width:100%;
}

.login-form{
    display: flex;
    justify-content: center;
    align-self: center;
    height: auto;
}
.loginFields {
    color: gray;
    border: 1px gray solid;
    border-radius: 9px;
    margin-top:10px;
    margin-bottom: 15px;
    padding: 5px 15px;
    top:20px;
}
.buttondiv{
    justify-content: center;
    align-self: center;
}

.login-button {
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    outline: none;
    padding: 4px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.error-user{
    justify-content: center;
    align-self: center;
    margin-top: 10%;
    visibility: hidden;
    color: red;
    font-size: small;
}

.createAccountButton{
    justify-content: center;
    align-self: center;
    color: #ffffff;
    text-decoration: none;
    position:relative;
}